.EditorPage {
  --editor-gray-f5: #f5f5f5;
  --editor-gray-e5: #e5e5e5;

  background-color: var(--editor-gray-f5);
  padding: 16px;
  display: flex;
  .EditorPage-left{
    width: 250px;
    height: calc(100vh - 32px);
    overflow: auto;
    background-color: white;
    padding: 16px;
    margin-right: 16px;
    .arco-tree-node{
      .arco-tree-node-switcher{
        //display: none;
        //position: absolute;
        //z-index: 1;
        //left: 0;
        //top: 8px;
        //width: 16px;
        //height: 16px;
        width: 0;
        margin: 0;
        position: relative;
        z-index: 1;
        left: -1px;
        .arco-icon-hover{
          display: none;
        }
        .arco-icon-loading{
          //width: 100%;
          //height: 100%;
          //background-color: rgba(255, 255, 255, 0.8);
          background-color: #ffffff;
          position: absolute;
          width: 16px;
          height: 16px;
          overflow: hidden;
        }
      }
      .arco-tree-node-switcher:has(+ .arco-tree-node-title:hover) {
        .arco-icon-loading{
          background-color: #f2f3f5;
        }
      }
      .arco-tree-node-title{
        display: flex;
        width: 100%;
      }
    }
  }
  .EditorPage-right{
    flex: 1;
    //min-height: calc(100vh - 0px);
    padding: 16px;
    background-color: white;
    border: 1px solid var(--editor-gray-e5);
    .Editor{
      width: 100%;
      height: 100%;
      >textarea{
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
}
