/* 灰色的注释颜色 */
.token.comment {
    color: #969896 !important;
}

/* 蓝色的关键词颜色 */
.token.keyword {
    color: red !important;
}
.token.keyword2 {
    color: orange !important;
}

/* 绿色的函数颜色 */
.token.function {
    color: #28a745;
}
/* 灰色的操作符颜色 */
.token.operator {
    color: deepskyblue !important;
}
/* 黄色的条件颜色 */
.token.punctuation {
    color: deeppink !important;
}